/* Copyright @ Balbooa, http://www.gnu.org/licenses/gpl.html GNU/GPL */

h2 {
size:36px !important;
}

#item-14990743590831 .main-menu .nav-child li a, #item-14990743590831 .main-menu .nav-child li span{
  font-size: 15px !important;
}
.form-horizontal .control-group#field_first_name,.form-horizontal .control-group#field_last_name
{width:50%;float:left}
#adminForm .control-group .control-label{width:auto}
.eb-container h1.eb-page-heading{text-align:center}
.eb-message p{text-align:center}
#eb-individual-registration-page{padding:20px;box-shadow:0 0 8px 0 grey}

/*** EWD Tweaks ***/




#eb-individual-registration-page {
	background: url("/images/reg-bg.svg") no-repeat scroll 0 0 transparent;
	background-size: cover;
}
.com_eventbooking.register .reg_logo_wrap {
	text-align: center;
	margin: 10px 0;
}
.com_eventbooking.register .eb-container h1.eb-page-heading, .com_eventbooking.register .eb-container h3.eb-heading {
	text-align: center;
	line-height: 140%;
	margin: 20px 0 !important;
	font-size: 24px;
}
.com_eventbooking.register .eb-message {
	margin-bottom: 50px;
}

.com_eventbooking.register input, .com_eventbooking.register select {
	background: #edf2f5;
	border: none;
	padding: 0 10px;
	border-radius: 3px;
}
.com_eventbooking.register .btn.btn-primary {
	background: #176aaf;
	padding: 10px 15px;
}