<?xml version="1.0" encoding="utf-8"?>
<install version="1.5" type="template">
	<name>Bluedream </name>
	<version>4.0</version>
	<created>01/05/2014</created>
	<updated>01/05/2014</updated>
	<author>Stack Ideas Sdn Bhd</author>
	<description>COM_EASYBLOG_THEME_WIREFRAME_DESC</description>
</install>
